.share-authorized {
    margin: 2em;
    border: 1px solid rgb(0, 50, 0);
    width: 80%;
    background-color: rgb(248, 252, 220);
}

.share-unauthorized {
    color: rgb(200, 0, 0);
    font-size: 1.8em;
    margin: 2em 1em 1em 1em;
    padding: 1em;
    text-align: center;
    width: 80%;
    border: 2px solid rgb(200, 0, 0);
    border-radius: 4px;
}

.share-authorized h1 {
    font-weight: normal;
    color: rgb(0, 50, 0);
    margin: 0 0 0 1em;
    padding: 0 0.5em;
    font-size: 1.2em;
    line-height: 1.2em;
    position: relative;
    bottom: 0.75em;
    background-image: linear-gradient(bottom, rgb(248, 252, 220) 0.5em, white 0.5em);
    background-image: -moz-linear-gradient(bottom, rgb(248, 252, 220) 0.5em, white 0.5em);
    background-image: -webkit-linear-gradient(bottom, rgb(248, 252, 220) 0.5em, white 0.5em);
    display: inline-block;
}

.share-authorized ul {
    padding: 0 2em 2em 1em;
    margin: 0;
}

.share-authorized li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.2em;
}

.share-authorized a {
    text-decoration: none;
    margin-left: 1.5em;
    color: rgb(0, 50, 0);
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.share-authorized a:hover {
    background-color: rgb(240, 245, 200);
    border-radius: 4px;
    text-decoration: underline;
}

.share-size {
    position: absolute;
    top: 0;
    right: 0;
}

.share-directory {
    background: left center no-repeat url('../img/folder.png');
    background-size: 1em 1em;
}

.share-file {
    background: left center no-repeat url('../img/file.png');
    background-size: 1em 1em;
}
