{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_page_head %}
    <link href="{% static 'about/css/main.css' %}" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav_about %}active{% endblock %}

{% block sidebar_nav %}
<li class="{% block nav_about_index %}{% endblock %}"><a href="{% url 'about:index' %}">A propos</a></li>
<li class="{% block nav_about_cv %}{% endblock %}"><a href="{% url 'about:cv' %}">Curriculum Vitae</a></li>
{% endblock %}

{% block content %}<div id="content-about">{% block content_about %}{% endblock %}</div>{% endblock %}
