{% extends 'about/base.html' %}

{% block title %}A propos - www.madmox.fr{% endblock %}
{% block keywords %}a propos about madmox description site{% endblock %}
{% block description %}Description du site www.madmox.fr, plan du site, etc.{% endblock %}

{% block nav_about_index %}active{% endblock %}

{% block content_about %}
    <h1>A propos du site</h1>
    <p>Bonjour, visiteur ! Je m'appelle Maxime Rossini et te voilà sur mon site personnel.</p>
    <p>Ce site est un regroupement de toutes les idées de contenus sympas, de liens utiles et d'outils développés par mes soins. Ce n'est pas un blog, c'est plus une collection de tout ce qui a pu me passer par la tête, que j'ai eu le temps de réaliser et que j'ai trouvé plus pratique à accéder en ligne qu'à conserver sur mon ordinateur.</p>
    <p>J'ai eu l'idée de créer le site fin 2013 alors que je quittais mon emploi de développeur et que je souhaitais me former sur une technologie web plus moderne que celles que j'utilisais jusque-là.</p>
    <h1>Comment naviguer dans le site ?</h1>
    <p>Les grandes "sections" ou "thèmes" sont accessibles en haut de page dans la bannière du site. L'arborescence de la section actuelle est accessible à gauche dans la zone de navigation.</p>
    <h1>Infrastructure technique</h1>
    <p>
        Voici quelques informations techniques pour les curieux...<br>
        Le site est hébergé sur un serveur dédié personnel (chez <a href="http://www.ovh.com/fr/serveurs_dedies/">OVH</a>), et fonctionne grâce aux technologies suivantes :
        <ul>
            <li>Système d'exploitation : <a href="http://www.debian.org/">Debian</a> (<a href="http://www.debian.org/releases/jessie/">jessie</a>)</li>
            <li>Serveur : <a href="http://httpd.apache.org/">Apache</a></li>
            <li>Contenu dynamique : <a href="https://www.djangoproject.com/">Django</a></li>
            <li>Base de données : <a href="http://www.postgresql.org/">PostgreSQL</a></li>
            <li>V.C.S. : <a href="http://mercurial.selenic.com/">Mercurial</a> (vous pouvez trouver les sources du site sur <a href="https://bitbucket.org/madmox/">BitBucket</a>)</li>
            <li>Outils divers : <a href="http://south.aeracode.org/">South</a> (module Python de migration de base de données pour Django), <a href="http://initd.org/psycopg/">Psycopg2</a> (adaptateur PostgreSQL pour Python), <a href="http://fabfile.org/">Fabric</a> (module Python d'automatisation de déploiement)</li>
        </ul>
    </p>
{% endblock %}
