{% extends "accounts/base.html" %}

{% block title %}Identification - www.madmox.fr{% endblock %}
{% block description %}Page d'identification à www.madmox.fr{% endblock %}

{% block content %}
    <form id="login-form" method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <p class="error">Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
        {% endif %}
        <div class="login-field">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="login-field">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <input type="submit" value="Connexion" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
