{% extends "accounts/base.html" %}

{% block title %}Identification - www.madmox.fr{% endblock %}
{% block description %}Page d'identification à www.madmox.fr{% endblock %}

{% block content %}
    <div class="form-header"><h1>Se connecter</h1></div>
    <form id="login-form" method="POST" action="{{ request.path }}">
        {% csrf_token %}
        {% if form.errors %}
            <p class="error">Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
        {% endif %}
        {% for formfield in form %}
            <div class="field">
                {{ formfield.label_tag }}
                {{ formfield }}
                {{ formfield.errors }}
            </div>
        {% endfor %}
        <input type="submit" value="Connexion" />
        <input type="hidden" name="next" value="{{ next }}" />
        <a class="secondary-button" href="{% url 'accounts:password-reset' %}">J'ai oublié mon mot de passe</a>
    </form>
{% endblock %}
