<p>Quelqu'un a demandé à réinitialiser le mot de passe du compte dont l'email est {{ email }} pour le site {{ site_name }}. Cliquez sur le lien suivant pour accéder au formulaire de confirmation :</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}</a></p>
<br>
<p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, vous pouvez ignorer cet email.</p>
