{% extends "accounts/base.html" %}

{% block title %}Demande de réinitialisation du mot de passe - www.madmox.fr{% endblock %}
{% block description %}Page de demande de réinitialisation du mot de passe pour www.madmox.fr{% endblock %}

{% block content %}
    <form id="password-reset-form" action="{% url 'accounts:password-reset' %}" method="POST">
        {% csrf_token %}
        <p class="instructions">Utilisez ce formulaire pour réinitialiser votre mot de passe. Saisissez votre adresse email, et un courriel de confirmation vous sera envoyé.</p>
        <div class="field">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <input type="submit" value="Valider" />
    </form>
{% endblock %}
