{% extends "accounts/base.html" %}

{% block title %}Changement de mot de passe - www.madmox.fr{% endblock %}
{% block description %}Page de mise à jour du mot de passe pour www.madmox.fr{% endblock %}

{% block content %}
    <form id="password-change-form" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <p class="instructions">Saisissez votre ancien mot de passe, puis deux fois votre nouveau mot de passe. Cette double saisie est nécessaire pour éviter les erreurs de frappe.</p>
        <div class="field">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>
        <div class="field">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
        <div class="field">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <input type="submit" value="Valider" />
    </form>
{% endblock %}
