{% extends "accounts/base.html" %}

{% block title %}Confirmation de la réinitialisation du mot de passe - www.madmox.fr{% endblock %}
{% block description %}Page de validation des informations de réinitialisation du mot de passe pour www.madmox.fr{% endblock %}

{% block content %}
    {% if validlink %}
        <form id="password-reset-confirm-form" action="{% url 'accounts:password-reset-confirm' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Valider" />
        </form>
    {% else %}
        <p class="wrong-link">Ce lien est invalide. Veuillez effectuer une nouvelle demande de réinitialisation de mot de passe et utiliser le lien qui vous sera fourni par email à l'adresse indiquée.</p>
    {% endif %}
{% endblock %}
