{% extends "accounts/base.html" %}

{% block title %}Changement de mot de passe - www.madmox.fr{% endblock %}
{% block description %}Page de mise à jour du mot de passe pour www.madmox.fr{% endblock %}

{% block content %}
    <div class="form-header"><h1>Changer mon mot de passe</h1></div>
    <form id="password-change-form" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <p class="instructions">Saisissez votre ancien mot de passe, puis deux fois votre nouveau mot de passe. Cette double saisie est nécessaire pour éviter les erreurs de frappe.</p>
        {% for formfield in form %}
            <div class="field">
                {{ formfield.label_tag }}
                {{ formfield }}
                {{ formfield.errors }}
            </div>
        {% endfor %}
        <input type="submit" value="Valider" />
    </form>
{% endblock %}
