{% extends "accounts/base.html" %}

{% block title %}Confirmation de la réinitialisation du mot de passe - www.madmox.fr{% endblock %}
{% block description %}Page de validation des informations de réinitialisation du mot de passe pour www.madmox.fr{% endblock %}

{% block content %}
    {% if validlink %}
        <form id="password-reset-confirm-form" action="{{ request.path }}" method="POST">
            {% csrf_token %}
            <p class="instructions">Vous avez demandé la réinitialisation de votre mot de passe. Veuillez saisir le nouveau mot de passe dans ce formulaire.</p>
            <div class="field">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="field">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <input type="submit" value="Valider" />
        </form>
    {% else %}
        <p class="wrong-link">Ce lien est invalide. Veuillez effectuer une nouvelle demande de réinitialisation de mot de passe et utiliser le lien qui vous sera fourni par email à l'adresse indiquée.</p>
    {% endif %}
{% endblock %}
