{% extends 'recipes/base.html' %}

{% block title %}{{ category.name }} - www.madmox.fr{% endblock %}
{% block keywords %}recette recettes {{ category.name }} madmox{% endblock %}
{% block description %}Liste des recettes appartenant à la catégorie {{ category.name }}{% endblock %}

{% block content_recipes %}
    <h1 class="recipes-title">{{ category.name }}</h1>
    <ul class="recipes-recipes">
        {% spaceless %}{% for recipe in category.ordered_recipes %}
            <a href="{% url 'recipes:detail' recipe.pk recipe.slug %}">
                <li>
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" width="90" height="60">
                    {% endif %}
                    <span>{{ recipe.name }}</span>
                </li>
            </a>
        {% empty %}
            <li class="recipes-list-empty">Aucune recette trouvée pour cette catégorie.</li>
        {% endfor %}{% endspaceless %}
    </ul>
{% endblock %}
