{% extends 'recipes/base.html' %}

{% block title %}Accueil recettes - www.madmox.fr{% endblock %}
{% block keywords %}recette recettes accueil madmox{% endblock %}
{% block description %}Accueil du sous-site de recettes du site www.madmox.fr{% endblock %}

{% block content_recipes %}
    <h1 class="recipes-title">Rechercher par catégorie</h1>
    <ul class="recipes-categories">
        {% spaceless %}{% for category in categories %}
            <a href="{% url 'recipes:category' category.pk category.slug %}">
                <li>
                    {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" width="150" height="100">
                    {% endif %}
                    <span>{{ category.name }}</span>
                </li>
            </a>
        {% endfor %}{% endspaceless %}
    </ul>
{% endblock %}
