/** Base styles **/
#content-about { margin: 1em; padding: 1em; border: solid #6666FF 3px; border-radius: 10px; }
h1 { color: #6666FF; border-bottom: 1px solid #6666FF; }

/** index styles **/

/** cv styles **/
h1.cv-title { text-transform: uppercase; font-size: 1.8em; }

#cv-contact { width: 100%; position: relative; }
#cv-contact-primary { display: inline-block; vertical-align: top; }
#cv-contact-secondary { display: inline-block; position: absolute; right: 0; vertical-align: top; text-align: right; }
#cv-profile-photo { margin-right: 0.5em; }

.cv-job, .cv-formation { position: relative; }
.cv-job-name, .cv-formation-name { margin-bottom: 0; }
.cv-job-period, .cv-job-location, .cv-formation-period, .cv-formation-location { display: inline-block; font-style: italic; color: #AAAAAA; }
.cv-job-location:before, .cv-formation-location:before { content: " | " }
.cv-job-logo, .cv-formation-logo { position: absolute; top: 1em; right: 1em; }
.cv-job-description, .cv-formation-description { text-align: justify; }

.cv-skills ul, .cv-hobbies ul { margin: 0; padding-left: 1em; }
.cv-skills li, .cv-hobbies li { list-style-type: none; font-size: 0.9em; }
.cv-skills-group:not(:last-child), .cv-hobbies-group:not(:last-child) { padding-bottom: 1em; }

#cv-references { text-transform: uppercase; font-weight: bold; font-size: 1.2em; margin-top: 1em; }

