{% extends 'shatterynote/base.html' %}

{% block title %}shatterynote - www.madmox.fr{% endblock %}
{% block description %}Page de visualisation d'un secret à usage unique{% endblock %}

{% block content_shatterynote %}
    {% if found %}
        {% if form %}
            <form action="{{ request.path }}" method="POST" class="form-passphrase">{% csrf_token %}
                <div class="passphrase">
                    <label for="id_passphrase">Une phrase secrète a été associée à ce message. Veuillez la saisir et valider :</label>
                    {{ form.passphrase.errors }}
                    {{ form.passphrase }}
                </div>
                <input type="submit" value="Valider" />
            </form>
        {% else %}
        <div class="secret-secret">
            <h2>Voici le message qui a été partagé avec vous :</h2>
            <textarea rows="10" cols="40" class="secret-message" readonly>{{ message }}</textarea>
            <p class="secret-important">Attention, il vient d'être supprimé du serveur !<br><br>
            Il ne sera plus possible de le réafficher, même avec le lien.<br>
            De même, si vous actualisez la page sans lire le message, il sera définitivement perdu.</p>
        </div>
        {% endif %}
    {% else %}
        <div class="secret-nosecret">
            <div>Aucun secret ne correspond à l'U.R.L. que vous avez demandée. Soit le lien est erroné, soit le secret a déjà été récupéré, soit il a expiré.</div>
        </div>
    {% endif %}
{% endblock %}
