{% extends 'shatterynote/base.html' %}

{% block title %}shatterynote - www.madmox.fr{% endblock %}
{% block description %}Page de visualisation d'un secret à usage unique{% endblock %}

{% block content_shatterynote %}
    {% if found %}
        {% if message %}
            <p class="disclaimer">Voici le message qui a été partagé avec vous :</p>
            <p class="message">{{ message }}</p>
            <p class="disclaimer">Attention, il vient d'être supprimé du serveur, donc il ne sera plus possible de le réafficher, même avec cette U.R.L. !</p>
        {% else %}
            <form action="{{ request.path }}" method="POST">{% csrf_token %}
                <div class="passphrase">
                    {{ form.passphrase.errors }}
                    <label for="id_passphrase">Une phrase secrète a été associée à ce message. Veuillez la saisir et valider :</label>
                    {{ form.passphrase }}
                </div>
                <input type="submit" value="Valider" />
            </form>
        {% endif %}
    {% else %}
        <p class="disclaimer">Aucun secret ne correspond à cette U.R.L. Soit celle-ci est erronnée, soit le secret a déjà été visualisé, soit il a expiré.</p>
    {% endif %}
{% endblock %}
