{% extends 'share/base.html' %}
{% load print_size from share_filters %}

{% block title %}Share - www.madmox.fr{% endblock %}
{% block keywords %}share partage fichiers madmox{% endblock %}
{% block description %}Partage de fichiers sur www.madmox.fr{% endblock %}

{% block content %}
    {% if authorized %}
        <div class="share-authorized">
            <h1>{{ current_directory.local_path }}</h1>
            <ul>
                {% if not current_directory.isroot %}
                    <li class="share-directory"><a href="{% url 'share:browse' current_directory.parent_url %}">..</a></li>
                {% endif %}
                {% for child in current_directory.children %}
                    <li class="{% if child.isdir %}share-directory{% else %}share-file{% endif %}">
                        <a href="{% url 'share:browse' child.url %}">
                            <span class="share-name">{{ child.name }}</span>
                            <span class="share-size">{{ child.size | print_size }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p class="share-unauthorized">Vous n'avez pas les droits pour accéder à cette application.</p>
    {% endif %}
{% endblock %}
