{% extends 'share/base.html' %}

{% block title %}Share - www.madmox.fr{% endblock %}
{% block keywords %}share partage fichiers madmox{% endblock %}
{% block description %}Partage de fichiers sur www.madmox.fr{% endblock %}

{% block content %}
    <ul class="share-link-list">
        {% if authorized %}
            {% if not current_directory.isroot %}
                <li class="share-directory"><a href="{% url 'share:browse' current_directory.parent_url %}">..</a></li>
            {% endif %}
            {% for child in current_directory.children %}
                <li class="{% if child.isdir %}share-directory{% else %}share-file{% endif %}"><a href="{% url 'share:browse' child.url %}">{{ child.name }}</a></li>
            {% endfor %}
        {% else %}
            <p class="share-unauthorized">Vous n'avez pas les droits pour accéder à cette application.</p>
        {% endif %}
    </ul>
{% endblock %}
