<!DOCTYPE html>
{% spaceless %}
{% load static from staticfiles %}
{% load core_navigation %}
{% load about_navigation %}
{% load recipes_navigation %}
{% load shatterynote_navigation %}
<html lang="fr-FR">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link href="{% static 'css/jquery-ui-1.10.4.custom.css' %}" media="all" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet" type="text/css">
        {% block additional_page_head %}{% endblock %}
    </head>
    <body>
        <header id="header">
            <div class="header-title">www.madmox.fr</div>
            <nav>
                <ul class="header-nav">
                    {% url 'about:index' as about_index %}
                    <li class="{% nav_active request.path about_index %}"><a href="{{ about_index }}">ACCUEIL</a></li>
                    
                    {% url 'recipes:index' as recipes_index %}
                    <li class="{% nav_active request.path recipes_index %}"><a href="{{ recipes_index }}">RECETTES</a></li>
                    
                    {% url 'shatterynote:index' as shatterynote_index %}
                    <li class="{% nav_active request.path shatterynote_index %}"><a href="{{ shatterynote_index }}">SHATTERY NOTE</a></li>
                    
                    {% if request.user.is_staff %}
                        {% url 'admin:index' as admin_index %}
                        <li class="{% nav_active request.path admin_index %}"><a href="{{ admin_index }}">ADMIN</a></li>
                    {% endif %}
                </ul>
                <ul class="header-nav user-management">
                    {% if request.user.is_authenticated %}
                        {% url 'accounts:profile-update' as accounts_update %}
                        <li id="update-account" class="{% nav_active request.path accounts_update %}"><a href="{{ accounts_update }}">Mon profil <span class="username">({{ request.user.username }})</span></a></li>
                        
                        {% url 'accounts:logout' as accounts_logout %}
                        <li id="logout" class="{% nav_active request.path accounts_logout %}"><a href="{{ accounts_logout }}?next={{ request.path|urlencode }}">Déconnexion</a></li>
                    {% else %}
                        {% url 'accounts:login' as accounts_login %}
                        <li id="login" class="{% nav_active request.path accounts_login %}"><a href="{{ accounts_login }}?next={{ request.path|urlencode }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <nav id="sidebar">
            <div id="accordion">
                {% set_about_navigation request.path as nodes_about %}
                {% include 'navigation_node.html' with title='Accueil' nodes=nodes_about pattern=about_index %}
                
                {% set_recipes_navigation request.path as nodes_recipes %}
                {% include 'navigation_node.html' with title='Recettes' nodes=nodes_recipes pattern=recipes_index %}
                
                {% set_shatterynote_navigation request.path as nodes_shatterynote %}
                {% include 'navigation_node.html' with title='Shattery Note' nodes=nodes_shatterynote pattern=shatterynote_index %}
            </div>
        </nav>
        <section id="content">{% block content %}{% endblock %}</section>
        <footer id="footer">Copyright &copy; 2013-{% now "Y" %} Maxime ROSSINI</footer>
        
        <script src="{% static 'js/jquery-2.0.3.js' %}"></script>
        <script src="{% static 'js/jquery-ui-1.10.4.custom.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block additional_page_body %}{% endblock %}
        {% if piwik_enabled %}{% include 'piwik.html' %}{% endif %}
    </body>
</html>
{% endspaceless %}
