{% load staticfiles %}<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <link href="{% static 'css/jquery-ui-1.10.4.custom.css' %}" media="all" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet" type="text/css">
        <script src="{% static 'js/jquery-2.0.3.js' %}"></script>
        <script src="{% static 'js/jquery-ui-1.10.4.custom.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block additional_page_head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="header-title">www.madmox.fr</div>
            <ul id="header-nav">
                <li class="{% block nav_about %}{% endblock %}"><a href="{% url 'about:index' %}">ACCUEIL</a></li><!--
                --><li class=""><a href="/">FAKE</a></li>
            </ul>
        </div>
        <div id="sidebar">
            <div id="accordion">
                <h3>Accueil</h3>
                <ul>
                    <li class="{% block nav_about_index %}{% endblock %}"><a href="{% url 'about:index' %}">A propos</a></li>
                    <li class="{% block nav_about_cv %}{% endblock %}"><a href="{% url 'about:cv' %}">Mon C.V.</a></li>
                </ul>
                <h3>Fake</h3>
                <ul>
                    <li class=""><a href="/">Fake entry</a></li>
                    <li class=""><a href="/">Fake entry</a></li>
                </ul>
            </div>
        </div><!--
        --><div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            Copyright © 2013-{% now "Y" %} Maxime ROSSINI
        </div>
    </body>
</html>
