form {
    margin: 2em 1em 3em 1em;
    padding: 1em;
    border: 1px solid rgb(220, 220, 220);
}

#login-form { width: 50%; }
#password-change-form { width: 70%; }
#password-reset-form { width: 50%; }
#password-reset-confirm-form { width: 50%; }
#update-account-form { width: 80%; }

.field {
    display: table;
    width: 80%;
    margin: 1em auto 0 auto;
}

label {
    display: inline-block;
    width: 40%;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
    vertical-align: middle;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: inline-block;
    width: 50%;
    height: 1.8em;
    padding: 0 0.5em;
    font-size: 1.3em;
    background-color: rgb(248, 248, 248);
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    transition: box-shadow 0.2s linear 0s;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 100, 200, 0.6);
}

input[type="submit"] {
    display: table;
    width: 60%;
    padding: 0.2em;
    margin: 1em auto 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background-color: rgb(200, 30, 0);
    color: white;
    font-weight: bold;
    font-size: 2em;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: rgb(255, 50, 0);
    cursor: pointer;
}

.error, .wrong-link {
    padding: 0.2em 0.5em;
    color: red;
    font-weight: bold;
}

.wrong-link { width: 80%; margin: 2em 1em; }

.instructions { margin-bottom: 2em; color: rgb(100, 100, 100); }

.success {
    color: rgb(0, 150, 0);
    font-size: 1.8em;
    margin: 2em 1em 1em 1em;
    padding: 1em;
    text-align: center;
    width: 80%;
    border: 2px solid rgb(0, 150, 0);
    border-radius: 4px;
}

.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.errorlist li {
    padding: 0.2em 0.5em;
    color: red;
    font-weight: bold;
    margin-left: 40%;
}
.errorlist li:before { content: "* "; }

.password-reset { display: table; margin: 1em auto 0; }
.password-reset a { color: rgb(120, 120, 120); font-style: italic; }
